---
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/consts";
---

<Layout title={SITE.TITLE} description={SITE.DESCRIPTION}>
    <section class="container mx-auto my-28 p-10">
        <h2 class="heading text-5xl">Contact removed</h2>
        <p class="text-lg text-secondary mt-4">This theme no longer includes a dedicated contact page. Please use the About or Projects pages to find ways to contact me.</p>
    </section>
</Layout>
