<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-5xl md:text-9xl uppercase">About me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <img
                    src="/portrait.webp"
                    alt="About Me Image"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-2xl text-secondary space-y-4">
                <p>
                    A design generalist who bridges business goals with user needs & product strategy. I bring systems thinking and consistency to complex problems and help teams deliver faster in scale with fewer inconsistencies and technical blockers. I focus on accessibility, quality, and scalability - allowing teams to increase production efficiency and deliver consistent output.
                </p>
                <p>
                    I have built and scaled up multi-platform design systems across web, iOS, and Android with AI and MCP pipeline in mind resulting in the most optimal automation - partnering with engineers, designers, and PMs to create a pipeline for tokens, components, documentation, and governance into one continuous system.
                </p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    My Skills
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Figma
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Storybook
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        MCP servers Integration
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Usability Testing
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Design and Market Research
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        WCAG
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Design-to-Code Automation
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        HTML/CSS/Javascript
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
